$primary-font: "Open Sans", sans-serif;
$color_white: #fff;
$color_one: #1f2229;
$color_par: #888888;
$color_card: #f4f5f5;
$color_dark: #1f2229;
$bgintro1: url(/assets/images/intro-bg13.jpg);
$bgintro2: url(/assets/images/bg-img-03.jpg);
$bgintro: url("/assets/intro1.jpg");
